@use "@/scss/utils/media" as media;
.clickable:not(.is-disabled) {  //clickable  interactive  link-state
    transition: color .3s ease, fill .3s ease;
    &:focus-visible {
        color: #f68521;
        fill:  #f68521;
        opacity: 0.8;
    }
    @media (hover: hover) and (pointer: fine) {
        &:hover:not(:active) {
            color: #f68521;
            fill:  #f68521;
            opacity: 0.8;
        }
    }
    &:active{
        color: #a85309;
        fill:  #a85309;
        opacity: 1;
    }
}

.card-clickable{
    transition: box-shadow .3s ease, transform .3s ease;
    &:focus-visible {
        box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-2px);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover:not(:active) {
            box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.25);
            transform: translateY(-2px);
        }
    }

    &:active {
        box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-2px);
    }
}