@use '@/scss/utils/media' as media;

.hotel-summary {
    display: grid;
    //grid-template-columns: minmax(280px, 1fr) minmax(220px, 293px) 175px var(--hotel-card-side);
    grid-template-columns: 380px minmax(220px, 293px) 175px var(--hotel-card-side);
    //grid-template-columns: 380px 293px 175px var(--hotel-card-side);
    gap: 20px 3.5%;
    align-items: start;
    @include media.max-width(lg) {
        grid-template-columns: minmax(280px, 1fr) minmax(180px, 1fr) 175px;
        //gap: 20px 3.5%;
    }
    @include media.max-width(sd) {
        grid-template-columns: minmax(180px, 1fr) 175px;
    }
    @include media.max-width(xs) {
        grid-template-columns: minmax(280px, 1fr);
        gap: 0;
        //display: block;
    }

    &__swiper {
        min-width: 0;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 6px;
        background: #f2f2f2;
        @include media.max-width(sd) {
            grid-column: span 2;
        }
        @include media.max-width(xs) {
            grid-column: span 1;
        }
    }
    &__swiper-slide{
        aspect-ratio: 38 / 25;
        border-radius: 8px;
        @include media.max-width(xs) {
            aspect-ratio: 8 / 5;
        }
        & img{
            width: 100%;
            height: 100%;
        }
    }

    &__swiper-btn {
        position: absolute;
        top: 47%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.42);
        fill: #fff;
        //transform: translateY(-50%);
        transition: box-shadow .3s ease, transform .3s ease;
        @include media.max-width(sm) {
            top: 44%;
        }

        &:focus-visible {
            transform:scale(1.05);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover:not(:active) {
                transform:scale(1.05);
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            }
        }
        &:active{
            transform:scale(0.95);
        }

        &_prev {
            left: 9px;
            & svg {
                transform: rotate(90deg);
            }
        }

        &_next{
            right: 9px;
            & svg {
                transform: rotate(-90deg);
            }
        }
    }

    &__swiper-btn-icon{
        aspect-ratio: 1;
    }

    &__nav-icon_prev {
        transform: rotate(90deg);
    }

    &__nav-icon_next {
        transform: rotate(-90deg);
    }

    &__image-location {
        position: absolute;
        left: 2%;
        bottom: 8%;
        z-index: 2;
        display: none;
        align-items: center;
        gap: 5px;
        color: #fff;
        line-height: 1.25;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
        background: rgba(0, 0, 0, 0.5);
        padding: 7px;
        border-radius: 10px;
        max-width: 80%;

        @include media.max-width(lg) {
            display: flex;
        }
    }

    &__image-location-icon {
        width: 17px;
        height: 17px;
        fill: currentColor;
        flex-shrink: 0;
    }
    &__image-location-item{
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 20px;
        //aspect-ratio: 392 / 255;
        @include media.max-width(lg) {
            padding-bottom: 0;
        }

        @include media.max-width(md) {
            padding-top: 10px;
            display: contents;
        }
    }
    &__content-inner {

        @include media.max-width(xs) {
            display: contents;
        }
    }

    &__title-link {
        font-size: 18px;
        color: var(--text);
        pointer-events: none;
        cursor: default;
        @include media.max-width(md) {
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            //justify-content: space-between;
            fill: var(--primary);
            pointer-events: auto;
            cursor: pointer;
            //max-width: 200px;
        }
    }
    &__title-icon {
        width: 24px;
        aspect-ratio: 1;
        display: none;
        flex-shrink: 0;
        @include media.max-width(md) {
            display: block;
        }
    }

    &__location {
        margin-top: 12px;
        display: flex;
        gap: 5px;
        align-items: center;
        width: fit-content;
        min-height: 30px;
        padding: 4px 12px 4px 5px;
        border: 1px solid #e2e2e2;
        border-radius: 6px;
        color: #555;
        font-size: 14px;

        @include media.max-width(lg) {
            display: none;
        }
    }

    &__location-icon {
        width: 17px;
        height: 17px;
        fill: var(--green);
        flex-shrink: 0;
    }

    &__description {
        margin-top: 16px;
        color: #666;
        font-size: 14px;
        line-height: 1.35;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        @include media.max-width(md) {
            -webkit-line-clamp: 8;
        }
        @include media.max-width(sd) {
            -webkit-line-clamp: 5;
            line-height: 1.5;
        }
    }

    &__more {
        margin: 12px 0 0 8px;
        width: fit-content;
        color: #555;
        font-size: 16px;

        @include media.max-width(md) {
            display: none;
        }

        .link-more__icon {
            width: 24px;
            height: 24px;
        }
    }

    &__meta {

        @include media.max-width(xs) {
            grid-row: 3;
            margin-top: 5px;
        }
    }

    &__rating {
        padding-top: 9px;
    }

    &__features {
        margin-top: 21px;
        //display: grid;
        display: flex;
        flex-direction: column;
        gap: 22px;
        @include media.max-width(sd) {
            gap: 11px 21px;
            margin-top: 14px;
        }
        @include media.max-width(xs) {
            //grid-template-columns: repeat(2, minmax(max-content, 1fr));
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include media.max-width(xxs) {
            //grid-template-columns: repeat(2, max-content);
        }
    }

    &__feature {
        display: grid;
        grid-template-columns: 24px 1fr;
        align-items: center;
        gap: 12px;

        color: #333;
        order: 1;
        @include media.max-width(xs) {
            min-width: 35%;
            &:nth-child(2){
                order: 3;
            }
            &:nth-child(3){
                order: 2;
            }
            &:nth-child(4) {
                order: 4;
            }
        }
        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__feature-icon {
        width: 21px;
        height: 21px;
        fill: #9cc39d;
    }
    &__deal-wrap{
        padding-bottom: 20px;
        @include media.max-width(lg) {
            display: contents;
        }
    }
    &__deal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 75px;
        min-height: 100%;
        padding: 50px 18px 21px 18px;
        text-align: center;
        position: relative;
        border-radius: 10px;
        fill: #fff;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        transition: background 0.3s ease, box-shadow 0.3s ease;
        transform: translateZ(0);
        will-change: background;
        @include media.max-width(lg) {
            grid-column: -1/1;
            gap: 24px;
            padding: 20px 18px 21px 18px;
            min-height: unset;
            margin-top: 20px;
            //transition: background 0.3s ease, box-shadow 0.3s ease;
        }
        @include media.max-width(xs) {
            margin-top: 13px;
            gap: 12px;
            padding: 10px 18px 15px 18px;
        }
    }

    &__deal-price {
        display: flex;
        flex-direction: column;
        gap: 3px;
        --font-size-price:18px;
        font-size: var(--font-size-price);
        color: var(--text);
        @include media.max-width(lg) {
            //font-size: 16px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        @include media.max-width(xs) {
            --font-size-price:16px;
        }
        strong {
            font-weight: 700;
            font-size: 24px;
            color: #000;

            @include media.max-width(lg) {
                font-size: var(--font-size-price);
            }
        }
    }
    &__deal-value{
        @include media.max-width(lg) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__price-per-person {
        font-size: 24px;
        @include media.max-width(lg) {
            font-size: var(--font-size-price);
        }
    }

    &__deal-btn {
        width: 100%;
        //transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
        @include media.max-width(lg) {
            transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
        }
        @include media.max-width(md) {
            width: 57%;
            margin-inline: auto;
        }
    }
}
